{% extends 'base.html.twig' %}

{% block title %}Vos Commentaire{% endblock %}

{% block body %}
    <h1>Vos Commentaire</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('app_comment_index') }}">retour</a>
{% endblock %}
