{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h1>Modifie le categorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_category_index') }}">retour</a>

    {{ include('category/_delete_form.html.twig') }}

{% endblock %}
