{% extends 'base.html.twig' %}


{% block body %}
     <div class="d-flex gap-2">
            {% for utilisateurListe in liste %}
                  <div> 
                        <a class="btn" href="{{ path('chat_index', {'receiverId': utilisateurListe.id}) }}">
                              <i class="bi bi-person-circle"></i>
                        </a>
                        <p>{{utilisateurListe.firstName}}</p>
                  </div>
            {% endfor %}
     </div> 

    
{% endblock %}  